
body {
  background-color: dimgrey;
  user-select: none; 
}

.container {
    
    width: 70%;
    border: 10px solid black;
    margin: auto;
    padding:1rem;
    display:grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(6,1fr);
    grid-auto-flow: dense;
  } 

  .img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .img1:nth-child(6n){
    grid-column: span 3;
   }
   .img1:nth-child(8n){
    grid-column: span 2;
    grid-row: span 3;
   }
   :nth-child(9n){
    grid-row: span 2;
   }